*.pyc
*.log
*.swp
*.bak
*.weights
*.trec
*.ranklist
*.DS_Store
*.coverage
predict.*
build/
dist/
log/*
matchzoo/log/*
matchzoo/querydecision/
log/*
.idea/
.pytest_cache/
MatchZoo.egg-info/
*.zip
!msmarco_predict_10percent_289_30/*
!long_results/*
